
.header-container {
    font-size: 25px;
    background-color: #000;
    width: 100vw;
    height: 28vh;
    font-weight: normal;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.header-container-h1{
    color: rgb(226, 214, 214);
    font-size: 2.5em;
    padding: 10px 30px;
    line-height: 2;
    
}

.header-container-h6{
    color: rgb(226, 214, 214);
    font-size: 0.75em;
    padding: 10px 30px;
    margin-top: -30px;
}