 /* /* .grid-container {
    font-size: 20px;
    font-weight: normal;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #fff;

    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 15fr 2fr 3fr;
} 
/* 
.grid-container {
    font-size: 20px;
    background-color: #fff;
    font-weight: normal;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    

    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 10fr;
} */
/* 
.grid-item{
    box-shadow: 0px 1px #ccc;
    padding-top: 2.3rem;
    padding-left: 0.3rem;
}

.grid-item:first-child{
    grid-column: 1;
}

.title, .time {
    font-size: 13pt;
    color: #333;
}

.author{
    color: #999;
}

.grid-container:hover{
    background-color: #fafafa;
    cursor: pointer;
} */


/* De ACA PARA ACA */


.grid-container {
    font-size: 20px;
    font-weight: normal;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #fff;

    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 15fr 2fr 3fr;
} 

.grid-item{
    box-shadow: 0px 1px #ccc;
    padding-top: 2.3rem;
    padding-left: 0.3rem;
}

.grid-item:first-child{
    grid-column: 1;
}

.title, .time {
    font-size: 13pt;
    color: #333;
}

.author{
    color: #999;
}

.grid-container:hover{
    background-color: #fafafa;
    cursor: pointer;
} */




.accordion {
    width: 100%;
    /*max-width: 360px;*/
    margin: auto;
    background: #fff;
    border-radius: 4px;
  }

  
  .accordion .menu {
    position: relative;
    padding: 15px 15px 15px 20px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-bottom: 1px #ccc;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    background: #fff;
  }
  .accordion div:hover{
      background: #fafafa;
  }
 
   .menu:hover{
      background-color: #fafafa;
  }
  
  .accordion li:last-child .menu {
    border-bottom: 0;
  }
  
  .accordion li i {
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    color: #595959;
    transition: all 0.4s ease;
  }

  .title{
      font-size: 13pt;
      color: #333;
  }
   .time{
    font-size: 13pt;
    color: #333;
    position: absolute;
    left: 75%;
}
  .author{
    font-size: 13pt;
    color: #999;
    position: absolute;
    left: 46%;
  }

  .icon {
    position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  right: 5px;
  }
  
  .accordion li.active .menu {
    color: #595959;
  }
  
  .accordion li.active i {
    color: gray;
  }
  
 
  
  .submenu {
    height: 0;
    overflow: hidden;
    background: #fff;
    font-size: 14px;
    transition: height 0.4s ease;
  }
  
  .submenu li {
    border-bottom: 0.3px solid #4b4a5e;
  }
  
  .accordion li:last-child .submenu {
    border-radius: 0 0 4px 4px;
  }
  
  .accordion li:last-child .submenu li:last-child {
    border-bottom: 0;
  }
  
  .submenu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 12px;
    padding-left: 30px;
    transition: all 0.25s ease-in-out;
  }
  
  .submenu a:hover {
    background: #fafafa;
    cursor: pointer;
    
  } 

  .accordion li i.icon {
    right: 1rem;
    left: auto;
  }
  

.accordion li i{
  visibility:hidden;
  transition: 0.0001s;
}
.accordion li:hover i {
 visibility:visible;
 transition: 0.2s;
}