<ul id="accordion" class="accordion">
    <li *ngFor="let item of posts; let i = index" [class.active]="item.active">
        <div class="menu" (click)="toggle(i)">
            <i [class]="item.iconClass"></i>
            <div class="title">{{ item.title }} </div>
            <div class="author"> - {{ item.author }} -</div>
            <div class="time">{{ item.time }}</div>
            <i (click)=removePost(item._id) class="fa fa-trash icon" aria-hidden="true"></i>
        </div>
        <ul class="submenu" #submenu [style.height.px]="item.active ? submenu.scrollHeight : 0">
            <li>
                <a [href]="item.url">{{ item.url }}</a>
            </li>
        </ul>
    </li>
</ul>